h2 {
    color: rgb(255, 78, 78);
}

body {background-image: url(17.jpg);
 }
.njoftim {
    padding: 8px;
    background-color: #08a4c8;
    color: white;
    border-radius: 25px;
    margin: auto;
    font-size: 20px;
}

.footer {
    margin-top: 137px;
    background: linear-gradient(180deg, rgb(0 0 0 / 18%) 0%, rgba(0,0,0,0) 100%);
    padding: 5px 0 5px 0;
    border-top: solid 2px rgb(23, 89, 104);
}

.footer {
    height: 100px;
    width: 100%;
    margin-top: 90px;


object-position: center top;
}

#table {
padding-left: 20px;


}

 


 .footer {background-color: #3b3837;
color: #e8491d;
border-top: #e8491d 5px solid;
}

* {
    box-sizing: border-box;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }

    form.example button:hover {
        background: #0b7dda;
      }
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }

      

      figcaption {
        border: 2px solid rgb(153, 99, 17);
        border-radius: 5px;
        background-color: #000000;
color: #ffffff;

      }

      a, button, input {
        outline: 0!important;
    }
   
  


.mv {
  padding-left: 150px;
 margin: 40px;

}


.pg {
  border-style: solid;
  background-color: #000000;
  color: #d4f4fc;
  margin: 40px;
  width: 660px;
}

ol, ul {
  list-style: none;
  
}
.genre {
  display: inline;
}

.info{
  
    color: #fffdfd;
    font-weight: 550;
}
ul.header-grid-items {
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.header-grid-wrapper {
  text-align: left;
  background-color: transparent;
  margin: 5px 0;
  font-family: sans-serif;
}

.watch-links {
 color: #ffffff;
}
.watch-links h4 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 24px;
}
.watch-links ul {
  position: relative;
  width: 94%;
  margin: 0 auto;
  overflow: auto;
}
ol, ul {
  list-style: none;
  overflow-wrap: break-word;
}
.download-links {
 color: #ffffff;
}
.download-links h4 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 24px;
}

