h2 {
    color: rgb(255, 78, 78);
}
h1 {
    color: rgb(241, 105, 42); 
}
body {background-color: rgb(14, 122, 113); box-shadow: 10px 5px 5px rgb(93, 170, 90);
 }
.njoftim {
    padding: 8px;
    background-color: #08a4c8;
    color: white;
    border-radius: 25px;
    margin: auto;
    font-size: 20px;
}

.footer {
    margin-top: 137px;
    background: linear-gradient(180deg, rgb(0 0 0 / 18%) 0%, rgba(0,0,0,0) 100%);
    padding: 5px 0 5px 0;
    border-top: solid 2px rgb(23, 89, 104);
}

.footer {
    height: 100px;
    width: 100%;
    margin-top: 90px;
}

object-position: center top;

#table {
padding-left: 20px;


}

 .search {padding-left: 1300px;}