h2 {
    color: rgb(255, 78, 78);
}
h1 {
    color: rgb(241, 105, 42); background-color: rgb(65, 63, 63);padding-top: 50px; min-height: 80px; border-bottom: #e8491d 5px solid;
}
body {background-image: url(17.jpg);
 }
.njoftim {
    padding: 8px;
    background-color: #08a4c8;
    color: white;
    border-radius: 25px;
    margin: auto;
    font-size: 20px;
}

.footer {
    margin-top: 137px;
    background: linear-gradient(180deg, rgb(0 0 0 / 18%) 0%, rgba(0,0,0,0) 100%);
    padding: 5px 0 5px 0;
    border-top: solid 2px rgb(23, 89, 104);
}

.footer {
    height: 100px;
    width: 100%;
    margin-top: 90px;
}

object-position: center top;

#table {
padding-left: 20px;


}

 .search {padding-left: 1000px;}


 .footer {background-color: #3b3837;
color: #e8491d;
border-top: #e8491d 5px solid;
}

* {
    box-sizing: border-box;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

    form.example button:hover {
        background: #0b7dda;
      }
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
      